:root {
  /* Fonts */
  /*
     I've chosen to centralize them in variables
     so they'll be easy to find and change.
     
     I used this tool to compare fonts side by side:
     https://fontjoy.com/
     
     Once I had a combination I liked, I had to work out
     how to include them in my project. But because they
     are all Google Fonts, I could just follow the 
     documentation here:
     https://developers.google.com/fonts/docs/getting_started
     */

  --display-font: "Patua One";
  --heading-font: "Fjord One";
  --text-font: "Nunito Sans";

  /* Colors */
  /*
    I've always been curious what was meant by "material
    design", so I took this opportunity to do a little 
    Googling. It turns out it's a much more in-depth topic than I care
    to explore right now, but the "color system" did seem
    like something I could at take as inspiration while I
    go about choosing colors.
    
    I'm referencing this: 
    https://m2.material.io/design/color/the-color-system
    https://m3.material.io/styles/color/overview

    And playing around with this:
    https://materialpalettes.com/

   */

  --primary-key-color-10: #e7f1f6;
  --primary-key-color-20: #c5ddea;
  --primary-key-color-30: #a5c9dd;
  --primary-key-color-40: #89b3cd;
  --primary-key-color-50: #77a4c3;
  --primary-key-color-60: #6996ba;
  --primary-key-color-70: #5f89ae;
  --primary-key-color-80: #53789d;
  --primary-key-color-90: #4a688a;
  --primary-key-color-100: #3a4c69;

  --secondary-key-color-10: #e3f8f8;
  --secondary-key-color-20: #bbedee;
  --secondary-key-color-30: #93e2e5;
  --secondary-key-color-40: #72d6da;
  --secondary-key-color-50: #62ccd3;
  --secondary-key-color-60: #5cc3cd;
  --secondary-key-color-70: #56b2ba;
  --secondary-key-color-80: #4f9da1;
  --secondary-key-color-90: #4a888a;
  --secondary-key-color-100: #3f6462;

  --tertiary-key-color-10: #ece8f0;
  --tertiary-key-color-20: #d1c7dc;
  --tertiary-key-color-30: #b3a2c4;
  --tertiary-key-color-40: #967ead;
  --tertiary-key-color-50: #80639b;
  --tertiary-key-color-60: #6c4a8a;
  --tertiary-key-color-70: #654485;
  --tertiary-key-color-80: #5b3c7b;
  --tertiary-key-color-90: #513671;
  --tertiary-key-color-100: #422c5e;

  --neutral-key-color-10: #ffffff;
  --neutral-key-color-20: #fafafa;
  --neutral-key-color-30: #f5f5f5;
  --neutral-key-color-40: #f0f0f0;
  --neutral-key-color-50: #dedede;
  --neutral-key-color-60: #c2c2c2;
  --neutral-key-color-70: #979797;
  --neutral-key-color-80: #818181;
  --neutral-key-color-90: #606060;
  --neutral-key-color-100: #3c3c3c;

  --neutral-variant-color-10: #f7e9d5;
  --neutral-variant-color-20: #dfcab3;
  --neutral-variant-color-30: #c1a78d;
  --neutral-variant-color-40: #a18667;
  --neutral-variant-color-50: #8a6c4a;
  --neutral-variant-color-60: #73542d;
  --neutral-variant-color-70: #694a27;
  --neutral-variant-color-80: #5a3e1f;
  --neutral-variant-color-90: #4d3117;
  --neutral-variant-color-100: #3e230d;
}

body {
  /* Color and Typography */
  background-color: var(--netural-key-color-10);
  color: var(--neutral-key-color-100);
  font-family: var(--text-font), sans-serif;
  font-weight: 200;
}

header {
  /* Color and Typography */
  background: var(--primary-key-color-90);
  color: var(--primary-key-color-10);

  /* Size and Position */
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

/* Header Title */
h1 {
  font-family: var(--display-font), var(--text-font), serif;
  font-size: 48px;
  line-height: 1em;
  padding: 20px;
}

h2,
h3 {
  font-family: var(--heading-font), var(--text-font), serif;
}

/* Section Titles */
h2 {
  font-size: 32px;
  line-height: 1em;
  padding: 10px 6px 20px;
}

h3 {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 700;

  margin-top: -3px;
  margin-bottom: 12px;
  padding: 28px 12px;
}

p {
  margin: 0px 12px 14px;
  line-height: 1.2em;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

audio {
  margin: 0px 12px;
  max-width: 90%;
}

/* Navigation Menu */

nav ul,
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

nav ul li,
footer ul li {
  padding: 12px 0px;
  text-align: center;
}

.menu-category {
  min-height: 200px;
}

.category-content-head {
  padding: 20px;
}

/* About Me Section */

#about-me {
  background: var(--primary-key-color-10);
  color: var(--primary-key-color-100);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#profile-picture {
  background-image: url("../images/profile-picture.jpeg");
  display: flex;
  flex: 0 1 auto;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#profile-picture figcaption {
  background: var(--primary-key-color-90);
  color: var(--neutral-key-color-10);
  font-size: 80%;
  font-style: italic;
  padding: 6px;
}

.category-content {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

#profile-description {
  padding: 20px;
}

#about-me h2 {
  font-weight: 700;
}

#profile-description p:nth-of-type(2) {
  font-weight: 600;
  font-size: 1.05em;
}

/* Main Content */
.category-content-head {
  min-height: 120px;
}

.project-grid {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.project-grid img {
  width: 100%;
}

.project-card {
  border-radius: 0px 0px 8px 8px;
  background: var(--neutral-key-color-10);
  padding-bottom: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  /* background: var(--primary-key-color-60);
  color: var(--primary-key-color-10); */
}

/* Web Development */
#web-development {
  background: var(--secondary-key-color-20);
}

#web-development .category-content-head {
  background: var(--secondary-key-color-90);
  color: var(--secondary-key-color-10);
}

#web-development h3 {
  background: var(--secondary-key-color-80);
  color: var(--secondary-key-color-10);
}

#web-dev-project-2 ~ .project-card {
  margin: 20px;
}

/* Writing & Composing */
#writing {
  background: var(--tertiary-key-color-20);
}

#writing .category-content-head {
  background: var(--tertiary-key-color-90);
  color: var(--tertiary-key-color-10);
}

#writing h3 {
  background: var(--tertiary-key-color-80);
  color: var(--tertiary-key-color-10);
}

#llama-llama {
  background: var(--tertiary-key-color-20);
}

/* Footer */
footer {
  background: var(--primary-key-color-90);
  color: var(--primary-key-color-10);
  width: 100%;
  min-height: 120px;
  padding: 16px 0px;
  text-align: center;
}

@media screen and (min-width: 798px) {
  header {
    align-items: flex-end;
  }

  nav ul,
  footer ul {
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
  }

  footer ul {
    max-width: 1080px;
    margin: auto;
  }

  nav ul li,
  footer ul li {
    flex: 1 0 40px;
    padding: 0px 12px;
  }

  #profile-picture {
    width: 30%;
    max-width: 380px;
    max-height: 380px;
  }

  #profile-description {
    max-width: calc(65vw);
    width: calc(100%-300px);
  }

  #main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
  }
}
